@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300;400;500;600&family=Roboto+Condensed:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #545454;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-img {
    height: 60px;
    width: auto;
    border-radius: 50%;
    border: 1px black solid;
}

.logo-txt {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    color: black;
}

.navbar a {
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-left: 30px;
}

.navbar a:hover, .logo-txt:hover{
    color: rgb(117, 12, 214);
    text-decoration: underline;
    text-underline-offset: 10px;
}